{% for module in (_terraform_state['stdout']|from_json)['modules'] %}
{%   for key, value in module['resources'].items() %}
{%     if 'tls_self_signed_cert' in key %}
nginx__servername: "{{ value['primary']['attributes']['dns_names.0'] }}"
{%     endif %}
{%     if 'aws_efs_file_system' in key %}
nfs__mountpoint: "{{ value['primary']['attributes']['dns_name'] }}"
{%     endif %}
{%   endfor %}
{%   if 'db_instance' in module['path'] %}
wp_db_host: "{{ module['outputs']['this_db_instance_address']['value'] }}"
wp_db_name: "{{ module['outputs']['this_db_instance_name']['value'] }}"
wp_db_user: "{{ module['outputs']['this_db_instance_username']['value'] }}"
wp_db_pass: "{{ module['outputs']['this_db_instance_password']['value'] }}"
wp_db_port: "{{ module['outputs']['this_db_instance_port']['value'] }}"
{%   endif %}
{% endfor %}
